div, ul, li, header, body, img {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.bingo {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
}

li {
  list-style: none;
  padding: 5px;
  width: 80px;
  /* height: 100px; */
  /* width: calc(100% * (1/5) - 10px); */
  margin: 2px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.start {
  /* border: solid black 1px; */
  padding: 10px;
  width: 50px;
  background: #f1af1c;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  font-size: 18px;
  margin: 20px auto;
}

.token, .noclick {
   cursor: default;
 }


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  left:0;
  top:0;
}

img {
  width: 100%;
  border-radius: 20px;
}


.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.question {
  text-align: center;
}

.message-box {
  width: 400px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 12px;
  color: #dd6d45;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
}

.pass, .restart {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin: 15px;
  cursor: pointer;
}

body {
  background: #c6e86e;
}


.title {
  margin-top: 20px;
}

.pass {
  background-color: #086d94;
}

.restart {
  background: #d06640;
}

.congrats {
  font-size: 40px;
  font-weight: 500;
  color: white;
}


.replay {
  padding: 10px;
  width: 150px;
  background: #86b538;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  font-size: 18px;
  margin: 20px auto;
}

.invisible {
  display: none;
}


.copyright {
  text-align: center;
  font-size: 12px;
  color: #86a92d;
  margin-top: 20px;
}

li:hover {
  width: 90px;
  padding: 0px;
}

li.noclick, li.token {
  width: 80px;
  padding: 5px;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
